.container {
  background: #FBFBFB;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sair-button {
  height: 35px;
  --background: #6cc2c5;
  --color: #ffffff;
  border: 2px 
}