<ion-header class="header">
  <ion-toolbar class="header-container-styles">

    <ion-buttons slot="start" *ngIf="mostrarBotaoVoltar">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título (renderiza HTML se necessário) -->
    <ion-title *ngIf="!customTitulo" class="title-styles">{{
      titulo
    }}</ion-title>
    <ion-title *ngIf="customTitulo">
      <ng-content></ng-content>
    </ion-title>

    <!-- Avatar condicional -->
    <ion-buttons slot="end" *ngIf="mostrarAvatar">
      <ion-avatar class="avatar-styles">
        <img src="https://i.pravatar.cc/100?img=12" alt="avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
