<ion-content class="login-page" fullscreen>
  <div class="login-container">
    <h1 class="logo">S.T.O.C.K</h1>
    <h2 class="subtitle">Fazer login</h2>

    <!-- Campo de Email -->
    <ion-item lines="none" class="input-box">
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        type="email"
        placeholder="ContaTeste@gmail.com"
        [(ngModel)]="username">
      </ion-input>
    </ion-item>

    <!-- Campo de Senha -->
    <ion-item lines="none" class="input-box">
      <ion-label position="stacked">Senha</ion-label>
      <ion-input
        type="password"
        placeholder="********"
        [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <!-- Botão Entrar -->
    <ion-button expand="block" class="btn-primary" (click)="login()">
      ENTRAR
    </ion-button>

    <!-- Botão Criar Conta -->
    <ion-button expand="block" fill="outline" class="btn-secondary" [routerLink]="['/cadastro']">
      CRIAR CONTA
    </ion-button>

    <!-- Login Social -->
    <div class="social-login">
      <ion-button expand="block" class="btn-social google">
        <ion-icon name="logo-google"></ion-icon>
        Fazer login com Google
      </ion-button>

      <ion-button expand="block" class="btn-social instagram">
        <ion-icon name="logo-instagram"></ion-icon>
        Fazer login com Instagram
      </ion-button>

      <ion-button expand="block" class="btn-social facebook">
        <ion-icon name="logo-facebook"></ion-icon>
        Fazer login com Facebook
      </ion-button>
    </div>
  </div>
</ion-content>
