<ion-content [fullscreen]="true" class="custom-login-content">
  <div class="login-container">
    <h1 class="logo">S.T.O.C.K</h1>
    <p class="subtitle">Faça login</p>

    <!-- Email -->
     
    <label class="custom-label">Email</label>
    <ion-item>
      <ion-input type="email" placeholder="ContaTeste@gmail.com"></ion-input>
    </ion-item>

    <!-- Senha -->
    <label class="custom-label">Senha</label>
    <ion-item>
      <ion-input type="password" placeholder="**********"></ion-input>
    </ion-item>

    <!-- Botões principais -->
    <ion-button  class="btn-entrar">ENTRAR</ion-button>
    <ion-button expand="block" class="btn-criar">CRIAR CONTA</ion-button>

    <!-- Social login -->
    <div class="social-login">
      <ion-button class="google">
        <img src="assets/icon/google.svg" alt="Google" />
        Fazer login com Google
      </ion-button>
      <ion-button class="instagram">
        <img src="assets/icon/insta.png" alt="Instagram" />
        Fazer login com Instagram
      </ion-button>
      <ion-button class="facebook">
        <img src="assets/icon/facebook.svg" alt="Facebook" />
        Fazer login com Facebook
      </ion-button>
    </div>
  </div>
</ion-content>

