<ion-content  [fullscreen]="true" class="custom-auth-content">
  <div class="auth-container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <h1 class="logo">S.T.O.C.K</h1>
    <h2 class="subtitle">Crie uma conta</h2>


<div class="fake-btn">
  Email
</div>
    <ion-item>
      <ion-input  [(ngModel)]="email" type="email" placeholder="Insira seu E-mail"></ion-input>
    </ion-item>

    <div class="fake-btn">
  Senha
</div>
<ion-item>
    <ion-input [(ngModel)]="senha" type="password" placeholder="Crie uma senha"></ion-input>
  </ion-item>



  <ion-button  class="btn-entrar" (click)="criarConta()">
  ENTRAR
</ion-button>

<button class="social-btn google">
  <img src="assets/icon/google.png" alt="Google">
  <span>Criar com Google</span>
</button>

<button class="social-btn instagram">
  <img src="assets/icon/insta.png" alt="Instagram">
  <span>Criar com Instagram</span>
</button>

<button class="social-btn facebook">
  <img src="assets/icon/facebook.png" alt="Facebook">
  <span>Criar com Facebook</span>
</button>
</div>
</ion-content>
